<table class="main_inv_table full_width" id="pos_table">

		<thead>
			<tr>
				{{#unless single_position_advance}}
					{{#if use_product_code}}
						<th class="width2 code_col" id="code_col">
							{{tt "invoice_position.code"}}
						</th>
					{{/if}}
				{{/unless}}
				<th class="text_left name_col" id="name_col">
					{{tt "invoice_position.name"}}
				</th>

				{{#unless single_position_advance}}
					{{#if additional_info}}
						<th class="width2 additional_info_col" id="additional_info_col">
							{{additional_info_desc}}
						</th>
					{{/if}}

					<th class="width2 text_center no_wrap quantity_col" id="quantity_col">
						{{tt "invoice_position.quantity"}}
					</th>


					{{#if discount}}
						<th class="width2 no_wrap discount_col text_center" id="discount_col">
							{{tt "invoice_position.discount_percent"}}
						</th>
					{{/if}}

					{{#if tax_visible}}
						{{#unless hide_tax}}
							<th class="width3 text_right no_wrap price_net_col" id="price_net_col">
								{{tt "invoice_position.price_net"}}
							</th>

                            {{#if show_unit_price_gross}}
                                <th class="width3 text_right no_wrap price_gross_col">
                                    {{tt "invoice_position.price_gross"}}
                                </th>
                            {{/if}}
							<th class="width3 text_right no_wrap total_price_net_col" id="total_price_net_col">
								{{tt "invoice_position.total_price_net"}}
							</th>
						{{else}}
							<th class="width3 no_wrap text_right price_gross_col_tax" id="total_price_gross_col">
								{{tt "invoice_position.price_gross"}}
							</th>
						{{/unless}}
					{{else}}
						<th class="width3 no_wrap text_right price_net_col" id="price_net_col">
							{{tt "invoice_position.bill_price_net"}}
						</th>
						{{#unless hide_tax}}
							<th class="width3 no_wrap text_right total_price_net_col" id="total_price_gross_col">
								 {{tt "invoice_position.total_price_net"}}
							</th>
						{{else}}
							<th class="width3 no_wrap text_right total_price_gross_col" id="total_price_gross_col">
							 {{tt "invoice_position.total_price_gross"}}
						</th>
						{{/unless}}
					{{/if}}
				{{else}}
					{{#unless hide_tax}}
						<th class="width3 no_wrap text_right total_price_net_col-advance" id="total_price_net_col">
							{{tt "invoice_position.total_price_net"}}
						</th>
					{{else}}
						<th class="width3 no_wrap text_right total_price_gross_col-advance" id="total_price_gross_col">
							{{tt "invoice_position.total_price_gross"}}
						</th>
					{{/unless}}
				{{/unless}}
			</tr>
		</thead>
		<tbody>
			{{#each positions}}
			{{#eq kind 'page_break'}}

			</tbody>
	</table>
			<table class="main_inv_table full_width" id="pos_table">
			<div style="page-break-after:always !important;"></div>
		<thead>
			<tr>
				{{#unless ../../../single_position_advance}}
					{{#if ../../../use_product_code}}
						<th class="width2 code_col" id="code_col">
							{{tt "invoice_position.code"}}
						</th>
					{{/if}}
				{{/unless}}
				<th class="text_left name_col" id="name_col">
					{{tt "invoice_position.name"}}
				</th>

				{{#unless ../../../single_position_advance}}
					{{#if ../../../additional_info}}
						<th class="width2 additional_info_col" id="additional_info_col">
							{{additional_info_desc}}
						</th>
					{{/if}}

					<th class="width2 text_center no_wrap quantity_col" id="quantity_col">
						{{tt "invoice_position.quantity"}}
					</th>


					{{#if ../../../discount}}
						<th class="width2 no_wrap discount_col text_center" id="discount_col">
							{{tt "invoice_position.discount_percent"}}
						</th>
					{{/if}}

					{{#if ../../../tax_visible}}
						{{#unless ../../../../hide_tax}}
							<th class="width3 text_right no_wrap price_net_col" id="price_net_col">
								{{tt "invoice_position.price_net"}}
							</th>
                            {{#if ../../../../../show_unit_price_gross}}
                                <th class="width3 text_right no_wrap price_gross_col">
                                    {{tt "invoice_position.price_gross"}}
                                </th>
                            {{/if}}
							<th class="width3 text_right no_wrap total_price_net_col" id="total_price_net_col">
								{{tt "invoice_position.total_price_net"}}
							</th>
						{{else}}
							<th class="width3 no_wrap text_right price_gross_col_tax" id="total_price_gross_col">
								{{tt "invoice_position.price_gross"}}
							</th>
						{{/unless}}
					{{else}}
						<th class="width3 no_wrap text_right price_net_col" id="price_net_col">
							{{tt "invoice_position.bill_price_net"}}
						</th>
						{{#unless ../../../../hide_tax}}
							<th class="width3 no_wrap text_right total_price_net_col" id="total_price_gross_col">
								 {{tt "invoice_position.total_price_net"}}
							</th>
						{{else}}
							<th class="width3 no_wrap text_right total_price_gross_col" id="total_price_gross_col">
							 {{tt "invoice_position.total_price_gross"}}
						</th>
						{{/unless}}
					{{/if}}
				{{else}}
					{{#unless ../../../hide_tax}}
						<th class="width3 no_wrap text_right total_price_net_col-advance" id="total_price_net_col">
							{{tt "invoice_position.total_price_net"}}
						</th>
					{{else}}
						<th class="width3 no_wrap text_right total_price_gross_col-advance" id="total_price_gross_col">
							{{tt "invoice_position.total_price_gross"}}
						</th>
					{{/unless}}
				{{/unless}}
			</tr>
		</thead>
		<tbody>
			{{/eq}}
			{{#not_eq kind 'page_break'}}
			{{#eq kind 'text_separator'}}
			<tr>
				<td colspan="100" class='text_left text_separator'>{{item}}</td>
			</tr>
			{{else}}
                {{#in kind 'subtotal,subtotal_with_quantity'}}
                    <tr class="subtotal_row">
                        {{#unless ../../../../single_position_advance}}
                            {{#if ../../../../../use_product_code}}
                                <td class="code_col subtotal_col">
                                </td>
                            {{/if}}
                        {{/unless}}
                        <td class="name_col subtotal_col">
                            <span>{{{item}}}</span>
                        </td>
                        {{#unless ../../../../single_position_advance}}
                            {{#if ../../../../../additional_info}}
                                <td class="additional_info_col subtotal_col">
                                </td>
                            {{/if}}

                            <td class="text_center quantity_col subtotal_col">
                                {{#eq kind 'subtotal_with_quantity'}}
                                  {{quantity}}
                                {{/eq}}
                            </td>

                            {{#if ../../../../../discount}}
                                <td class="discount_col text_right subtotal_col">
                                </td>
                            {{/if}}

                            {{#if ../../../../../tax_visible}}
                                {{#unless ../../../../../../hide_tax}}
                                    <td class="text_right no_wrap number price_net_col subtotal_col">
                                    </td>

                                    {{#if ../../../../../../../show_unit_price_gross}}
                                        <td class="price_gross_col no_wrap text_right number subtotal_col">
                                        </td>
                                    {{/if}}

                                    <td class="total_price_net_col text_right number subtotal_col">
                                        {{total_price_net}}
                                    </td>
                                {{else}}
                                    <td class="text_right no_wrap number total_price_gross_col hide_tax subtotal_col">
                                    </td>
                                {{/unless}}
                            {{else}}
                                <td class="text_right number no_wrap price_gross_col subtotal_col">
                                </td>
                                <td class="text_right number total_price_gross_col subtotal_col">
                                    {{total_price_gross}}
                                </td>
                            {{/if}}
                        {{else}}
                            {{#unless ../../../../../hide_tax}}
                                <td class="text_right number no_wrap total_price_net_col-advance subtotal_col">
                                    {{total_price_net}}
                                </td>
                            {{else}}
                                <td class="text_right number no_wrap total_price_gross_col-advance subtotal_col">
                                    {{total_price_gross}}
                                </td>
                            {{/unless}}
                        {{/unless}}
                    </tr>
                {{else}}
			<tr>
				{{#unless ../../../../single_position_advance}}
					{{#if ../../../../../use_product_code}}
						<td class="code_col">
							{{code}}
						</td>
					{{/if}}
				{{/unless}}
				<td class="name_col">
					{{#and item_url ../../../../show_links }}
						<a href="{{{item_url}}}" class="incognito-link">{{{item}}}</a>
					{{else}}
						<span>{{{item}}}</span>
					{{/and}}
					<div id="product_description" class="item_description">
						{{#if ../../../../show_product_description}}
					 		{{{description}}}
					 	{{/if}}
					</div>
					{{#and barcode ../../../../use_barcodes}}
						<div class="ean_code hidden">
							{{{barcode}}}
							{{ean_code}}
						</div>
					{{/and}}
				</td>
				{{#unless ../../../../single_position_advance}}
					{{#if ../../../../../additional_info}}
						<td class="additional_info_col">
							{{additional_info}}
						</td>
					{{/if}}

					<td class="text_center quantity_col">
						{{quantity}}
					</td>

					{{#if ../../../../../discount}}
						<td class="discount_col number">
							{{#if ../../../../../../show_discount_as_net_amount}}
								{{discount_amount_net}}
								{{#not_eq ../../../../../../../discount_kind 'amount'}}
									<br />
									<small>{{discount}}</small>
								{{/not_eq}}
							{{else}}
								{{#eq ../../../../../../../discount_kind 'amount'}}
									{{discount}}
								{{else}}
									{{#if ../../../../../../../../hide_tax}}
										{{discount_amount_gross}}
									{{else}}
										{{discount_amount_net}}
									{{/if}}
									<br />
									<small>{{discount}}</small>
								{{/eq}}
							{{/if}}
						</td>
						{{!-- <td class="price_net_with_discount_col text_right row1">
					        {{ unit_price_net_with_discount }}
					    </td> --}}
					{{/if}}


					{{#if ../../../../../tax_visible}}
						{{#unless ../../../../../../hide_tax}}
							<td class="text_right no_wrap number price_net_col">
								{{#and ../../../../../../../discount has_discount}}
									<span style="text-decoration:line-through;">{{unit_price_net}}</span><br />
									{{unit_price_net_with_discount}}
								{{else}}
									{{unit_price_net}}
								{{/and}}
							</td>

              {{#if ../../../../../../../show_unit_price_gross}}
                <td class="text_right no_wrap number price_gross_col">
                  {{unit_price_gross}}
                </td>
              {{/if}}

							<td class="total_price_net_col text_right number">
								{{total_price_net}}
							</td>
						{{else}}
							<td class="text_right no_wrap number total_price_gross_col hide_tax">
								{{unit_price_gross}}
							</td>
						{{/unless}}
					{{else}}
						<td class="text_right number no_wrap price_gross_col">
							{{#and ../../../../../../discount has_discount}}
								<span style="text-decoration:line-through;">{{unit_price_gross}}</span><br />
								{{unit_price_gross_with_discount}}
							{{else}}
								{{unit_price_gross}}
							{{/and}}
						</td>
						<td class="text_right number total_price_gross_col">
							{{total_price_gross}}
						</td>
					{{/if}}
				{{else}}
					{{#unless ../../../../../hide_tax}}
						<td class="text_right number no_wrap total_price_net_col-advance">
							{{total_price_net}}
						</td>
					{{else}}
						<td class="text_right number no_wrap total_price_gross_col-advance">
							{{total_price_gross}}
						</td>
					{{/unless}}
				{{/unless}}
			</tr>
			{{/in}}
            {{/eq}}
			{{/not_eq}}

			{{/each}}

		</tbody>
	</table>
